<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.codina.chroot" android:versionCode="10" android:versionName="1.9" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.flash" />
	<application android:label="@string/ApplicationName" android:allowBackup="true" android:supportsRtl="true" android:theme="@style/MianTheme" android:icon="@drawable/Icon">
		<meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr" />
		<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
	</application>
</manifest>